.Back-to-top-button.fixed {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
}

.Back-to-top-button.absolute {
    position: absolute;
    bottom: 120px; // Footer 上方距離
    right: 40px;
    z-index: 10;
}