/* Reset box-sizing */
* {
  box-sizing: border-box;
}

/* 讓 html 和 body 撐滿視窗高度，並允許垂直捲動 */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  overflow-y: auto;

}

body {
  font-family: "Noto Sans TC", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica,
    Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  /* background-color:rgb(245, 237, 220); */

}

/* #root 撐滿高度並承接捲動 */
#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* 建議設置，視需求決定 */
}

/* 其他樣式保持不變 */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: transparent;
  }
} */